<!--
  @description       : 
  @author            : Caballero Jose Manuel
  @group             : 
  @last modified on  : 07-04-2020
  @last modified by  : Caballero Jose Manuel
  Modifications Log 
  Ver   Date         Author                   Modification
  1.0   07-04-2020   Caballero, Jose Manuel   Initial Version
-->
<template>  
    <lightning-layout>  
      <lightning-layout-item>  
        <lightning-button label="First" icon-name="utility:chevronleft" onclick={handleFirst}  
          disabled={showFirstButton}></lightning-button>  
      </lightning-layout-item>  
      <lightning-layout-item>  
        <lightning-button label="Previous" icon-name="utility:chevronleft" onclick={handlePrevious}  
          disabled={showFirstButton}></lightning-button>  
      </lightning-layout-item>  
      <lightning-layout-item flexibility="grow"></lightning-layout-item>  
      <lightning-layout-item>  
        <lightning-button label="Next" icon-name="utility:chevronright" icon-position="right" onclick={handleNext}  
          disabled={showLastButton}></lightning-button>  
      </lightning-layout-item>  
      <lightning-layout-item>  
        <lightning-button label="Last" icon-name="utility:chevronright" icon-position="right" onclick={handleLast}  
          disabled={showLastButton}></lightning-button>  
      </lightning-layout-item>  
    </lightning-layout>  
  </template>  