<!--
  @description       : 
  @author            : Caballero, Jose Manuel
  @group             : 
  @last modified on  : 07-04-2020
  @last modified by  : Caballero, Jose Manuel
  Modifications Log 
  Ver   Date         Author                   Modification
  1.0   07-04-2020   Caballero, Jose Manuel   Initial Version
-->
<template>  
    <lightning-card title="Contacts List" icon-name="custom:custom63">  
      <div class="slds-m-around_medium">  
        <lightning-input type="search" onchange={handleKeyChange} class="slds-m-bottom_small" label="Search"  
          value={searchKey}></lightning-input>
          <section>
            <lightning-slider
                label="Result Number"
                step="5"
                min="5"
                max="2000"
                value="20"
                onchange={handlePageSizeChange}
            ></lightning-slider>
        </section>
        <br>   
        <template if:true={contacts}>  
          <table  
            class="slds-table slds-table_bordered slds-table_striped slds-table_cell-buffer slds-table_fixed-layout">  
            <thead>  
              <tr class="slds-text-heading_label">  
                <th scope="col">  
                  <div class="slds-truncate" title="Name">Name</div>  
                </th>  
                <th scope="col">  
                  <div class="slds-truncate" title="Title">Title</div>  
                </th> 
                <th scope="col">  
                    <div class="slds-truncate" title="Department">Department</div>  
                </th>
                <th scope="col">  
                    <div class="slds-truncate" title="Email">Email</div>  
                </th>
                <th scope="col">  
                    <div class="slds-truncate" title="Phone">Phone</div>  
                </th>   
              </tr>  
            </thead>  
            <tbody>  
              <!-- Use the Apex model and controller to fetch server side data -->  
              <template for:each={contacts} for:item="contact">  
                <tr key={contact.Id}>  
                  <th scope="row">  
                    <div class="slds-truncate" title={contact.Name}>{contact.Name}</div>  
                  </th>  
                  <td>  
                    <div class="slds-truncate" title={contact.Title}>{contact.Title}</div>  
                  </td>
                  <td>  
                    <div class="slds-truncate" title={contact.Department}>{contact.Department}</div>  
                  </td>
                  <td>  
                    <div class="slds-truncate" title={contact.Email}>{contact.Email}</div>  
                  </td>  
                  <td>  
                    <div class="slds-truncate" title={contact.Phone}>{contact.Phone}</div>  
                  </td>
                </tr>  
              </template>  
            </tbody>  
          </table>  
        </template>  
      </div>  
      <p class="slds-m-vertical_medium content">Total records: <b>{totalrecords} </b> Page <b>{currentpage}</b> of <b> {totalpages}</b></p>  
    </lightning-card>  
    </template>