<!--
  @description       : 
  @author            : Caballero, Jose Manuel
  @group             : 
  @last modified on  : 07-04-2020
  @last modified by  : Caballero, Jose Manuel
  Modifications Log 
  Ver   Date         Author                   Modification
  1.0   07-04-2020   Caballero, Jose Manuel   Initial Version
-->
<template>  
    <lightning-card>  
      <c-contact-list currentpage={page} onrecordsload={handleRecordsLoad} pagesize={pagesize}></c-contact-list>  
      <div class="slds-m-around_medium">
        <c-contact-browser-paginator-bottom onprevious={handlePrevious} onnext={handleNext} onfirst={handleFirst} onlast={handleLast} currentpage={page} totalrecords={totalrecords} pagesize={pagesize}></c-contact-browser-paginator-bottom>  
      </div>  
    </lightning-card>  
  </template>